<!-- loading overlay -->
<div class="transparent-overlay" id="loading-overlay" style="display: none;">
  <div class="loading-img">
    <app-loader></app-loader>
  </div>
</div>
<!--/ loading overlay -->



<div class="container-fluid">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center header">
    <img src="assets/images/logo.png" alt="logo" class="logo p-2">
    <div class="d-flex col-12 col-md-3 justify-content-evenly">
      <div routerLink="/characters" routerLinkActive="active" class="nav_item">Characters</div>
      <div routerLink="/locations" routerLinkActive="active" class="nav_item">Locations</div>
      <div routerLink="/episodes" routerLinkActive="active" class="nav_item">Episodes</div>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
