@font-face {
  font-family: "Montserrat-Light";
  src: local("MyriadPro-Light"),
    url(./assets/fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-LightItalic";
  src: local("MyriadPro-Regular"),
    url(./assets/fonts/Montserrat-LightItalic.otf) format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: local("MyriadPro-Semibold"),
    url(./assets/fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("BebasNeue-Regular"),
    url(./assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

*,
body {
  font-family: var(--body-font-family);
}

:root {
  --header-height: 2rem;
  --nav-width: 68px;

  --primary-color: #2b46bd;
  --hover-color: #235dd930;
  --bg-color: #e9ecef;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;

  --body-font-family: "Montserrat-Light", sans-serif;
  --normal-font-size: 1rem;

  --z-fixed: 100;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(186, 186, 186, 0.487);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(186, 186, 186);
  border-radius: 10px;
}

::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Montserrat-LightItalic", sans-serif;
}

:-ms-input-placeholder {
  font-size: 12px;
  font-family: "Montserrat-LightItalic", sans-serif;
}

::placeholder {
  font-size: 12px;
  font-family: "Montserrat-LightItalic", sans-serif;
}

.transparent-overlay {
  top: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(22, 33, 40, 0.38);
  right: 0;
  display: none;
}

.transparent-overlay .loading-img {
  width: 100px;
  margin: auto;
  height: 100vh;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.header {
  padding: 2rem 5rem;
}

.nav_item {
  color: var(--primary-color);
  font-weight: 400;
}

.active,
.nav_item:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  padding: 0.3rem 0.6rem;
  // font-size: 12px;
  // color: white;
  font-weight: 600;
  border-radius: 1rem;
}

.primary_btn {
  text-align: center;
  padding: 0.5rem;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  background-color: var(--primary-color);
}

.custom_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-check-label {
  font-size: 10px;
  font-family: "Montserrat-LightItalic", sans-serif;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
.table-responsive {
  overflow-y: auto;
}

.country {
  display: flex;
  background-color: #cbdec845;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  img {
    width: 30px;
    margin: 7px;
    border-radius: 5px;
  }
}

.animat {
  transition: all 0.3s;
}

.name_sub .chevron {
  float: right;
  color: white;
}

.search-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem 0rem;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
  position: sticky;
  top: 0;
  border: none;
  background-color: #bdd7ff45;
}
.table tbody tr {
  background-color: #bdd7ff1c;
  height: 5rem !important;
  border-bottom: 0px solid transparent;
}

.table tbody tr:hover {
  background-color: #bdd7ff45;
  cursor: pointer;
}

thead th:first-child {
  border-radius: 10px 0 0 10px;
}
thead th:last-child {
  border-radius: 0 10px 10px 0;
}

tbody td:first-child {
  border-radius: 10px 0 0 10px;
}
tbody td:last-child {
  border-radius: 0 10px 10px 0;
}

.evnName {
  width: 25%;
}

.img_ {
  width: 5rem;
  border-radius: 10px;
}

.myPagination ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: var(--primary-color) !important;
  color: #fefefe;
  cursor: default;
}

.table td,
.table th {
  padding: 1rem;
  vertical-align: middle;
  border-top: 0px solid #dee2e6;
}

.history-search-text {
  border: none !important;
  background-color: #bdd7ff45;
  border-radius: 10px;
  padding: 10px 15px;
}

.red {
  color: #cb5454;
}
.green {
  color: #69b46e;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .table th {
    text-align: center;
  }
  table {
    font-size: 10px;
  }

  .table td,
  .table th {
    padding: 0.5rem;
  }
  .table tbody tr {
    height: 0rem !important;
  }

  .search-section {
    max-width: 100% !important;
    flex-direction: column;
    .col-4 {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 320px) {
  .header {
    padding: 2rem 2rem;
  }
}
